<div>
  <div class="header container-fluid">
    <div class="background">
      <div class="image">
      </div>
      <div class="tape">
      </div>
    </div>
    <div class="action">
      <div class="title">
      </div>
      <div class="form">
        <form id="messaging" method="post">
          <div class="form-group">
            <label class="sr-only" for="userEmail">Email</label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" id="userEmail" placeholder="Votre E-mail">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Message</div>
              <textarea class="form-control" id="userMessage" rows="3" placeholder="Votre Message"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
      <div class="link">
        <a href="/training">Formations</a>
        <a href="/services">Services</a>
        <a href="/technologies">Technologies</a>
      </div>
    </div>
  </div>

  <div class="container-fluid experience">
    <div class="col-xs-12">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10 text-justify">
        <h1>Bonjour,</h1>
        <p>
          Je suis un consultant basé sur Poitiers, France. Passionné d'informatique et tout particulièrement des nouvelles technologies, j'ai travaillé pour des entreprises telles que Gucci, l'Express, les pouvoirs judiciaires de Genève, les Assurances et bien d'autres clients.
        </p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10 text-center">
        <div class="logo macif"></div>
        <div class="logo gucci"></div>
        <div class="logo express"></div>
        <div class="logo maif"></div>
        <div class="logo etat-geneve"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid together">
  <div class="col-xs-6 you">
    <div class="col-xs-12 text-center">
      <div class="col-xs-12">
        <h2>Pour vous</h2>
      </div>
      <div class="col-xs-12 image">
      </div>
      <div class="col-xs-12 text-justify text">
        <p>
          Je vous accompagne au plus proche de votre projet et des innovations technologiques. (création de mails personnalisés, logiciels de gestion de clientèle, optimisation des transferts de fichiers, etc.)
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 your-tools">
    <div class="col-xs-12 text-center">
      <div class="col-xs-12">
        <h2>Optimisons vos outils</h2>
      </div>
      <div class="col-xs-12 image">
        <div class="content">
        </div>
      </div>
      <div class="col-xs-12 text-justify text">
        <p>
          Je vous aide à mettre en place les solutions dont vous avez besoin !<br/>
          Je suis à votre écoute et je vous guide dans la recherche de solutions pour votre entreprise.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 independant">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 text-center">
      <div class="col-xs-12">
        <h2>Indépendant et disponible</h2>
      </div>
      <div class="col-xs-12 image">
        <div class="content">
        </div>
      </div>
      <div class="col-xs-12 text-justify text">
        <p>


          Je suis disponible en tant qu'indépendant et je vous accompagne au plus proche de votre projet et des innovations technologiques.<br>
          - création de votre domaine et mail personnalisé<br>
          - création de logiciels propres à votre activité<br>
          - optimisation de votre infrastructure actuelle<br>
          - etc.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid technologies">
  <div class="col-xs-12">
    <div class="col-xs-12 text-center title">
      <h1>Des technologies innovantes</h1>
    </div>
    <div class="col-xs-12 technology">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2 text-right">
        <h2 class="title">Dillinger</h2>
      </div>
      <div class="col-xs-8">
        <p class="text">
          "Dillinger, le dernier éditeur Markdown dont vous aurez besoin, par votre dévoué, Joe McCann."
        </p>
      </div>
    </div>
  </div>
</div>
